.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer-color);

  &__adress {
    // outline: 1px solid blue;
    text-align: center;
    margin-bottom: 60px;
  }
  &__logo-position {
    margin-bottom: 20px;
  }
  &__text {
    line-height: 1.71;
    color: var(--white-color);
  }
  &__link {
    text-decoration: none;
    line-height: 1.71;
    display: inline-block;
    margin-top: 9px;
    color: var(--footer-link-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: var(--hover-focus-color);
  }
}

@media screen and(min-width:768px) {
  .footer__adress-join-block {
    display: flex;
  }
  .footer__adress {
    margin-left: 60px;
  }
}

@media screen and(min-width:1200px) {
  .footer__container {
    display: flex;
  }
  .footer__adress {
    margin-right: 70px;
  }
}
