.logo {
  display: block;
  color: var(--logo-black-color);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.24;

  &__position {
    margin-right: 93px;
  }
  &__text {
    color: var(--logo-blue-color);
  }

  &__text--color-white {
    color: var(--white-color);
  }
}
