.page-header {
  position: relative;
  @media screen and (min-width: 767px) {
    position: static;
  }
  border-bottom: 1px solid var(--header-line-color);
  padding-top: 16px;
  padding-bottom: 16px;

  &__container {
    position: relative;
    //   display: flex;
    //   align-items: center;
  }
  &__site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list-nav {
    list-style: none;
    margin-bottom: 300px;

    // display: flex;
  }
  // &__item:not(:last-child) {
  //   margin-right: 50px;
  // }
  &__item {
    margin-left: 25px;
  }
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link-nav {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  &__link-nav:hover,
  &__link-nav:focus {
    color: var(--hover-focus-color);
  }

  &__link-nav--active {
    color: var(--hover-focus-color);
  }

  &__link-nav {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link-contact {
    text-decoration: none;
    color: var(--body-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 20px;
    padding-bottom: 33px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link-contact--email {
    font-size: 28px;
  }
  &__link-contact--tel {
    font-size: 34px;
    color: var(--hover-focus-color);
  }

  &__link-contact:hover,
  &__link-contact:focus {
    color: var(--hover-focus-color);
  }
  &__list-contact {
    // display: flex;
    // align-items: center;
    // margin-left: auto;
    list-style: none;
    margin-bottom: 64px;
  }
  &__social {
    list-style: none;
    display: flex;
    margin-left: 25px;
  }
}
.page-header__social-link {
  color: var(--hover-focus-color);
  font-size: 18px;
}
.page-header__social-item:not(:last-child) {
  margin-right: 20px;
}
.btn-burger {
  z-index: 10;
  display: inline-flex;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}

// Кнопка бургер
.btn-burger .icon-menu-close {
  display: none;
}
.btn-burger.is-open .icon-menu-close {
  display: block;
}
.btn-burger.is-open .icon-menu-burger {
  display: none;
}

// --------

.menu-container {
  // background-color: white;
  // height: 100%;
  width: 100%;
  padding-left: 40px;

  margin-left: auto;
  margin-right: auto;
  // outline: 1px solid blue;
  z-index: 2;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;

  // outline: 1px solid red;
  padding-top: 48px;
  padding-bottom: 48px;

  &.is-open {
    display: block;
  }
}

.icon-email {
  width: 16px;
  height: 12px;
  fill: var(--body-text-color);
  margin-right: 10px;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  fill: var(--body-text-color);
  margin-right: 10px;
}
.icon-email,
.icon-smartphone {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__link-contact:hover .icon-email,
.page-header__link-contact:focus .icon-email,
.page-header__link-contact:hover .icon-smartphone,
.page-header__link-contact:focus .icon-smartphone {
  fill: var(--hover-focus-color);
}

@media screen and (min-width: 768px) {
  // .page-header {
  //   height: 80px;
  // }
  .btn-burger {
    display: none;
  }
  .page-header__social {
    display: none;
  }
  .menu-container.is-open {
    display: flex;
  }
  .menu-container {
    display: block;
    position: static;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }
  .page-header__list-nav {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  .page-header__item {
    margin-left: 0;
    margin-bottom: 0;
  }
  .page-header__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .page-header__link-nav {
    font-size: 14px;
  }
  .page-header__list-contact {
    margin-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .page-header__link-contact--tel {
    font-size: 12px;
    color: #757575;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .page-header__link-contact--email {
    font-size: 12px;
    color: #757575;
    padding: 0;
    display: flex;
    align-items: center;
    // margin-bottom: 10px;
  }
  .page-header__item-contact:not(:last-child) {
    margin-right: 0;
    margin-top: 10px;
  }
  .page-header__item-contact {
    display: flex;
    align-items: center;
  }

  /* подчеркивание активной страницки в навигации */

  .page-header__link-nav {
    position: relative;
    padding-top: 20px;
    padding-bottom: 33px;
  }

  .page-header__link-nav--active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-focus-color);
    position: absolute;
    bottom: 0;
    left: 0;

    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .page-header__list-contact {
    flex-direction: row-reverse;
  }
  .page-header__item-contact:not(:last-child) {
    margin-top: 0;
    margin-left: 30px;
  }
  .page-header__link-contact--tel {
    font-size: 14px;
  }
  .page-header__link-contact--email {
    font-size: 14px;
  }
}
