.portfolio-nav {
  margin-bottom: 50px;
}

.portfolio-nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.portfolio-nav__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav__button {
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--black-color);
  background-color: var(--background-btn-portfolio-color);
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid transparent;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav__button:hover,
.portfolio-nav__button:focus {
  background-color: var(--hover-focus-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
