.portfolio__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--portfolio-cards-background-color);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio__item:hover .portfolio__picture-up {
  transform: translateX(0);
}
.portfolio__picture {
  position: relative;
  overflow: hidden;
}
.portfolio__picture-up {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 294px;
  background: var(--color-picture-up);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__picture-up-text {
  width: 322px;
  height: 168px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-align: start;
  /* outline: 1px solid red; */
}
.portfolio__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--black-color);
}
.portfolio__card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.portfolio__text-border {
  border: 1px solid var(--portfolio-border-solid-color);
  padding: 20px 24px;
}
