.section {
  padding-top: 60px;
  padding-bottom: 60px;
  // outline: 1px solid red;
  // width: 480px;
}

@media screen and(max-width:480px) {
  .section {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .section {
    width: 768px;
  }
}

@media screen and(min-width:1200px) {
  .section {
    width: 1200px;
  }
}
