:root {
  --body-text-color: #757575;
  --logo-black-color: #000000;
  --logo-blue-color: #2196f3;
  --blue-color: #2196f3;
  --hover-focus-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #212121;
  --background-footer-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --background-team-color: #f5f4fa;
  --background-btn-portfolio-color: #f5f4fa;
  --button-hero-hover-color: #188ce8;
  --header-line-color: #ececec;
  --portfolio-cards-background-color: #fff;
  --portfolio-border-solid-color: #eeeeee;
  --icon-fill-color: #afb1b8;
  --color-picture-up: rgba(33, 150, 243, 0.9);
  --color-black: #000000;
}
